:root {
    --background-color: rgb(245, 245, 245);
    --background-box-color: rgb(255, 255, 255);
    --gradient-primary:linear-gradient(225deg, #5D379C 0%, #1D0B39 100%);
    --gradient-primary-angle-change:linear-gradient(45deg, #5D379C 0%, #1D0B39 100%);

    /* basic colors */
    --primary-color: #271249;
    --secondary-color: #000000;


    /* text color */
    --text-color-white-primary:#ffffff;
    --text-color-white-secondary:#e7e5e5;
    --text-color-black-primary:#ffffff;
    --text-color-black-secondary:#e7e5e5;
    --text-color-heading:#000;
    --text-color-subheading:#000;
    --text-color-link:#000;


    /* button color */
    --button-color-primary:#271249;
    --button-color-secondary:#000;
    --button-color-accent:#000;
    --button-color-disabled:#000;


    /* accent colors */
    --accent-color-primary:#000;
    --accent-color-secondary:#000;
    --accent-color-highlight:#000;
    --accent-color-success:#000;
    --accent-color-warning:#000;
    --accent-color-error:#000;


  }

  .navbody{
    background-color: var(--background-box-color);

  }
  .logo{
    width: 171px;
  }
  .tab{
    font-size: 16px;
    font-weight: 100;
    border-radius: 50px;
    padding: 5px 15px;
    border: solid black 0.5px;
    background-color: rgb(226, 227, 228);
}

label{
    font-size: 14px;
    margin-top: 10px;
}

.login-body{
    background-color: var(--background-color);
    height: 100%;
}
.login-container{
}

.login-form-container{
    background-color:var(--background-box-color);
    height: 410px;
}

.signup-input{
    padding-left: 8px;

}

.signup-input:focus{
    outline: none;
    border-radius: 5px;
    border: 0.5px var(--button-color-primary) solid;
}
.signup-btn{
    padding: 5px;
    background-color: var(--button-color-primary);
    color: var(--text-color-white-primary);
}
.account-question{

}
.login-link-btn{
    border:  1px solid rgb(71, 70, 70);
    width: 80%;
}
.login-link-btn:hover{
    color: var(--text-color-white-primary);
    background-color: var(--button-color-secondary);
    transition: 400ms;
}

.caption-container{
    background: var(--gradient-primary);
    color: var(--text-color-white-primary);
    position: relative;
    -webkit-box-shadow: -20px -7px 65px -39px rgba(0,0,0,0.74);
    -moz-box-shadow: -20px -7px 65px -39px rgba(0,0,0,0.74);
    box-shadow: -20px -7px 65px -39px rgba(0,0,0,0.74);
    animation-name: view;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;

}


.caption-container::before{
    content: "";
    background: linear-gradient(233deg, #5D379C 0%, #3c1e61 100%);
    width: 100%;
    height: 50px;
    position: absolute;
    top: -20px;
}

.caption-container::after{
    content: "";
    background: linear-gradient(276deg, #42226a 0%, #210b3b 100%);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: -20px;
}
@keyframes view{
    0%{
        opacity: 0;
        filter: blur(1px);
    }
    100%{
        opacity: 1;
    }
}