

.employee-details{
    height: 100dvh;
}
.fill-personal{
    color: rgb(34, 12, 94);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    color:rgb(86, 88, 88);
    
}
.continue-btn{
    background-color: var(--button-color-primary);
    color: var(--text-color-white-primary);
}

.profile-add-text{
    color: rgb(34, 12, 94);
}
.choose-file-box::-webkit-file-upload-button{
    color: rgb(65, 65, 65);
    width: 278px;
    height: 159px;
    background-image: url("../../Assets/Images/addprofile.png");
    background-position: center;
    background-size: contain;
    padding-top: 100px;
    border: none;
    background-color:var(--background-color)
}
.addprofile-image{
    position: absolute;
    top: 10px;
    left:-10px;
}
.education-choose-file{
    border: 1px solid rgba(0, 0, 0, 0.349);
    padding: 5px;
}
.education-choose-file::-webkit-file-upload-button{
    background-color: var(--button-color-primary);
    border: none;
    color: var(--text-color-white-primary);
    padding: 5px 10px;
    font-size: 0.8rem;
}
.add-education-btn{
    background-color:var(--button-color-primary);
    color: var(--text-color-white-primary);
}




.tag-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 300px;
    margin: 20px;
  }
  
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: rgb(255, 255, 255);
  }
  .tag {
    position: relative;
    background-color:var(--button-color-primary);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .tag-remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    color: #ccc;
    font-size: 14px;
    cursor: pointer;
  }
  
  .tag-input {
  }
  .tag-input:focus{
    border: none;
    outline: none;
  }
  .success-bg-main {
    background-color: rgba(0, 0, 0, 0.582);
  }
  .verify-heading{
    color: rgb(23, 23, 90);
  }
  .otp-input:focus{
    outline: none;
    border: 1px solid rgb(24, 24, 83);
  }
  #partitioned {
    letter-spacing: 42px;
    text-align: center;
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;

  }
  .otp-submit-btn{
    background-color: var(--button-color-primary);
    color: var(--text-color-white-primary);
  }
  .disabled-otp-btn{
    color: var(--text-color-white-primary);
    background-color: rgba(46, 46, 66, 0.349) ;
  }
  