.search-job-box {
  background-color: rgb(53, 18, 73);
  background-image: url("../../../Assets/Images/searchbg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-blend-mode: multiply;
}

.experience-input-range {
  accent-color: rgb(48, 22, 88);
}

.experience-input-range:hover {
  accent-color: rgb(48, 22, 88);
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.job-modal-content {
  animation: slide-up 500ms ease-out;
}
